.container {
  display: flex;
  height: 100vh;
}

.layout {
  display: flex;
  width: 100%;
}

.sidebar {
  width: 40%;
  padding: 20px;
  background: url('/client/src/assets/Images/micLogin.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}



.content {
  width: 60%;
  padding: 20px;
}

.logout-button, .add-room-button {
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
