.room-manager-container {
    display: flex;
    height: 100vh;
  }
  
  .layout {
    display: flex;
    width: 100%;
  }
  
  .sidebar {
    width: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: url('../../../assets/Images/micTable.jpg') no-repeat center center;
    background-size: cover;
  }
  
  .content {
    width: 40%;
    padding: 20px;
    background-color: #4a0beb;


  }
  
  .link {
    color: #1976d2;
    text-decoration: underline;
  }
  
  .link:hover {
    color: #004ba0;
    text-decoration: none;
  }
  
  .DataGrid-root {
    border: none;
  }
  /* עיצוב עבור שורה המכילה את התמונה של האווטר */
.avatar-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ccc;
}
